name: Commit Check

on:
    push:
    pull_request:
        branches: 'main'

jobs:
    commit-check:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            pull-requests: write
        steps:
            - uses: actions/checkout@v5
              with:
                fetch-depth: 0
            - uses: commit-check/commit-check-action@v2
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                message: true
                branch: false
                author-name: false
                author-email: false
                job-summary: false
                pr-comments: ${{ github.event_name == 'pull_request' }}
